@media screen and (max-width: 426px) {
  .width {
    margin-left: 35px !important;
    width: 380px;
  }
}
@media screen and (max-width: 376px) {
  .width {
    margin-left: 32px !important;

    margin-left: -9px !important;

    width: 350px !important;
  }
}
@media screen and (max-width: 320px) {
  .width {
    margin-inline: 50px !important;
    width: 300px !important;
    margin-right: 50px;

    margin-left: 10px;
  }
}
