* {
  box-sizing: border-box;
}

.Kind {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.Active {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

.NoActive {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #00394f;
  font-size: 16px;
}

.dropbtn {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #00394f;
  font-size: 16px;
}

/* Dropdown Button */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.but {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  border-radius: 30px;
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
}

.Lear {
  color: #fff;
  background-color: #00394f;
  border-color: #00394f;
}

.nav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  z-index: -1;
}

.futt {
  font-family: "Handlee", cursive;
  color: #17a2b8 !important;
  font-size: 28px;
  font-weight: 700;
}

.futtetx {
  font-family: "Handlee", cursive;
  font-size: 20px;
  color: white;
  font-weight: 700;
}

.cons {
  font-family: "Handlee", cursive;
  font-size: 20px;
  font-weight: 700;
}

.cond {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #00394f;
}

.nun {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}
.futter {
  font-family: "Nunito", sans-serif;
  color: white;
}

.Nun {
  font-family: "Nunito", sans-serif;
}

.Fut {
  font-family: "Nunito", sans-serif;
}

.con {
  font-family: "Handlee", cursive;
  font-weight: 700;
  color: #00394f;
}

.inp {
  font-family: "Nunito", sans-serif;
}

.butt {
  font-family: "Nunito", sans-serif;
}

.context {
  font-family: "Nunito", sans-serif;
  color: #00394f;
}

.data {
  font-family: "Handlee", cursive;
  color: #00394f;
  font-weight: 700;
  text-align: center;
}

.salom {
  font-family: "Nunito", sans-serif;
  color: #00394f;
}

@media screen and (max-width: 375px) {
  .Menu {
    display: flex;
  }

  .Menu {
    margin-inline: 10px;
  }
}

@media screen and (max-width: 320px) {
  .Menu {
    display: block;
  }
}
.shadoww {
  box-shadow: 0 0.125rem 1rem rgba(0, 0, 0, 0.075);
}
